
body {
	background: #A4D9DB;
}

h1 {
	font-family: 'Lobster', cursive;
	color: #455B5B;
	text-align: center;
}

h2 {
	width: 360px;
	height: 30px;
	font-size: 20px;
	text-align: center;
	font-family: 'Lobster', cursive;
}

.contenedor {
	width: 360px;
	height: 500px;
	padding: 15px;
	margin: 10px;
	background: #A4D9DB;
	float: left;
}

.contenedor-texto {
	width: 350px;
	height: 150px;
	margin-top: 40px;
	text-align: center;
	color: #455B5B;
	font-family: 'Quicksand', sans-serif;
}

img {
	border: 5px solid #F37EC9;
}

.boton-rosa {
	color: #455B5B;
    width: 180px;
    height: 50px;
    background-color: white;
    border-width: 2px;
    border-color: #455B5B;
    border-style: solid;
    font-size: 15px;
    border-radius: 6px;
    padding: 4px;
	cursor: pointer;
}


